APP_NAME=Goravel
APP_ENV=local
APP_KEY=YI8USv6wIj465vF68c38yWWCPgGuysTD
APP_DEBUG=true
APP_URL=http://localhost
APP_HOST=127.0.0.1
APP_PORT=3300

RABBITMQ_HOST=home.cc
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=bthost
RABBITMQ_PREFETCH_COUNT=10
